#createNote {
	display: inline;
	background: -moz-linear-gradient(top,#80CCE6,#80CCE6 5%,#09C 5%,#069 95%,#069 95%,#00293D);
    background: -webkit-gradient(linear, left top, left bottom, from(#80CCE6), color-stop(0.05,#80CCE6), color-stop(0.05,#09C), color-stop(0.95,#069), color-stop(0.95,#00293D), to(#00293D));
    color: #FFF;
    width: 100px;
    padding: 10px 0;

}

#fusen-loading {
  display: inline;
  font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'ƒƒCƒŠƒI', Meiryo;
  padding-left: 35px;
  text-align: center;
  height: 20px;
  width: 100px;
  background: #FFFFFF url('images/loading.gif') no-repeat left center;
}

.fusen-box {
    position: absolute;
	opacity: 0.9;
	z-index: 50;
}

.fusen-box:before {
	content: "";
	position: absolute;
	width: 0px;
	height: 100%;
	left: -15px;
	border-left: outset 15px #ff0000;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background-color: #ff0000;
}

.fusen {
	position: absolute;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'ƒƒCƒŠƒI', Meiryo;
	//padding: 5px 5px 5px 20px;
	background: #f0f0f0;
	//border-left: outset 15px #ff0000;
	//border-top-left-radius: 5px;
	//border-bottom-left-radius: 5px;
	width: 100%;
	height: 100%;
	opacity: 1.0;
	line-height:1.2;
}

.fusen:after {
    width: 100%;
    height: 50%;
    content: "";
    position: absolute;
    top: 50%;
    right: 3%;
    background: #888;
    -webkit-transform: rotate(3deg);  
    -moz-transform: rotate(3deg); 
    -webkit-box-shadow: 0 3px 10px #888 ;
    -moz-box-shadow: 0 3px 10px #888 ;
    box-shadow: 0 3px 10px #888 ;
    z-index: -1;
}

.fusen-text-area {
	position: absolute;
	font-family: 'ƒqƒ‰ƒMƒmŠpƒS Pro W3', 'Hiragino Kaku Gothic Pro', 'Hiragino Kaku Gothic ProN', 'ƒƒCƒŠƒI', Meiryo;
	width: 80%;
	height: 100%;
}
